<a href="https://colab.research.google.com/github/sreedatta-v/Development-of-Interactive-Cyber-Threat-Visualization-Dashboard/blob/main/SQL_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Explain brief on what is SQL and explain what are Data Types in SQL, Keywords in SQL and Operators in SQL with detailed examples and their usage int the code.**

## What is SQL?

SQL stands for **Structured Query Language**. It's a standard language used to communicate with and manipulate databases. Think of it as the language you use to ask questions, update information, or organize data within a database system.

Key functions of SQL include:
*   **Querying data:** Retrieving specific information from a database.
*   **Inserting data:** Adding new records to a database.
*   **Updating data:** Modifying existing records in a database.
*   **Deleting data:** Removing records from a database.
*   **Creating and modifying database schemas:** Defining the structure of the database, including tables, indexes, and relationships.
*   **Controlling data access:** Setting permissions for users.

In SQL, a **data type** is an attribute that specifies the type of data that a column or variable can hold. Choosing the correct data type is crucial for efficient data storage, retrieval, and manipulation. SQL data types can be broadly categorized into several groups:

## 1. Numeric Data Types

Used to store numbers. They can be exact (e.g., integers) or approximate (e.g., floating-point numbers).

*   **`INT`** (Integer): Stores whole numbers without decimal points. (e.g., `10`, `-500`, `0`)
    ```sql
    CREATE TABLE Products (
        ProductID INT PRIMARY KEY,
        Quantity INT
    );
    ```

*   **`TINYINT`**, **`SMALLINT`**, **`MEDIUMINT`**, **`BIGINT`**: Variations of `INT` that store different ranges of whole numbers, consuming different amounts of storage. `TINYINT` is the smallest, `BIGINT` is the largest.

*   **`DECIMAL(p, s)`** or **`NUMERIC(p, s)`**: Stores exact numeric values with a fixed precision and scale.
    *   `p` (precision): The total number of digits (before and after the decimal point).
    *   `s` (scale): The number of digits after the decimal point.
    (e.g., `DECIMAL(5, 2)` can store `123.45`, `10.00`, `999.99`)
    ```sql
    CREATE TABLE Orders (
        OrderID INT PRIMARY KEY,
        TotalAmount DECIMAL(10, 2)
    );
    ```

*   **`FLOAT(p)`** or **`REAL`**: Stores approximate floating-point numbers. `FLOAT` typically uses 4 bytes, `REAL` can be equivalent or slightly different depending on the system.

*   **`DOUBLE`** or **`DOUBLE PRECISION`**: Stores larger approximate floating-point numbers with higher precision, typically using 8 bytes.
    ```sql
    CREATE TABLE Measurements (
        MeasurementID INT PRIMARY KEY,
        Value DOUBLE
    );
    ```

## 2. String/Character Data Types

Used to store text or alphanumeric data.

*   **`VARCHAR(n)`**: Stores variable-length strings. `n` specifies the maximum length. It's efficient for storing text where lengths vary.
    (e.g., `VARCHAR(255)`)
    ```sql
    CREATE TABLE Customers (
        CustomerID INT PRIMARY KEY,
        FirstName VARCHAR(50),
        LastName VARCHAR(50)
    );
    ```

*   **`CHAR(n)`**: Stores fixed-length strings. If the actual string is shorter than `n`, it's padded with spaces. Use when data is consistently a certain length (e.g., two-letter state codes).
    (e.g., `CHAR(2)` for state codes)
    ```sql
    CREATE TABLE States (
        StateCode CHAR(2) PRIMARY KEY,
        StateName VARCHAR(50)
    );
    ```

*   **`TEXT`** (or `TINYTEXT`, `MEDIUMTEXT`, `LONGTEXT`): Stores very long text strings. The maximum length varies depending on the specific database system and `TEXT` variant.
    ```sql
    CREATE TABLE Articles (
        ArticleID INT PRIMARY KEY,
        Content TEXT
    );
    ```

*   **`BLOB`** (Binary Large Object, or `TINYBLOB`, `MEDIUMBLOB`, `LONGBLOB`): Stores binary data like images, audio, or video files.
    ```sql
    CREATE TABLE Images (
        ImageID INT PRIMARY KEY,
        ImageData BLOB
    );
    ```

## 3. Date and Time Data Types

Used to store dates, times, or both.

*   **`DATE`**: Stores a date (year, month, day). (e.g., `'2023-10-26'`)
    ```sql
    CREATE TABLE Events (
        EventID INT PRIMARY KEY,
        EventDate DATE
    );
    ```

*   **`TIME`**: Stores a time (hour, minute, second). (e.g., `'14:30:00'`)
    ```sql
    CREATE TABLE Schedule (
        ScheduleID INT PRIMARY KEY,
        StartTime TIME
    );
    ```

*   **`DATETIME`** or **`TIMESTAMP`**: Stores both date and time. `TIMESTAMP` often has a smaller range and stores values as the number of seconds since the Unix epoch (January 1, 1970 UTC), making it suitable for tracking changes. `DATETIME` stores literal date and time values.
    (e.g., `'2023-10-26 14:30:00'`)
    ```sql
    CREATE TABLE LogEntries (
        LogID INT PRIMARY KEY,
        LogDateTime DATETIME
    );
    ```

*   **`YEAR`**: Stores a year value.

## 4. Boolean Data Types

Used to store true/false values.

*   **`BOOLEAN`** or **`BOOL`**: Stores `TRUE` or `FALSE` values. Some databases might represent `TRUE` as `1` and `FALSE` as `0` internally or use `TINYINT(1)`.
    ```sql
    CREATE TABLE Tasks (
        TaskID INT PRIMARY KEY,
        IsCompleted BOOLEAN
    );
    ```

## 5. Other Data Types

*   **`ENUM`**: Allows you to define a list of permissible values for a column. Values are selected from this predefined list.
    ```sql
    CREATE TABLE Orders (
        OrderID INT PRIMARY KEY,
        OrderStatus ENUM('Pending', 'Processing', 'Completed', 'Cancelled')
    );
    ```

*   **`SET`**: Similar to `ENUM`, but allows a column to store zero or more values from a predefined list.

*   **`JSON`**: Many modern SQL databases support a `JSON` data type for storing JSON documents directly within a column, allowing for flexible schema-less data storage.
    ```sql
    CREATE TABLE UserPreferences (
        UserID INT PRIMARY KEY,
        Preferences JSON
    );
    ```

*   **`UUID`** (Universally Unique Identifier): Stores a 128-bit number used to uniquely identify information in computer systems. Useful for distributed systems or preventing ID collisions.

Understanding these data types is fundamental to designing efficient and robust database schemas, as the choice impacts storage, performance, and data integrity.

## SQL Keywords

Keywords are predefined words in SQL that have special meanings. They are used to form SQL statements and commands. Here are some common categories and examples:

1.  **Data Query Language (DQL):**
    *   `SELECT`: Used to retrieve data from a database.
        ```sql
        SELECT column1, column2 FROM table_name;
        SELECT * FROM customers;
        ```
    *   `FROM`: Specifies the table from which to retrieve data.
        ```sql
        SELECT name, email FROM users;
        ```
    *   `WHERE`: Filters records based on a specified condition.
        ```sql
        SELECT * FROM products WHERE price > 50;
        ```
    *   `ORDER BY`: Sorts the result set by one or more columns.
        ```sql
        SELECT name, age FROM students ORDER BY age DESC;
        ```
    *   `GROUP BY`: Groups rows that have the same values into summary rows, often used with aggregate functions.
        ```sql
        SELECT department, COUNT(employee_id) FROM employees GROUP BY department;
        ```
    *   `HAVING`: Filters groups based on a specified condition (used with `GROUP BY`).
        ```sql
        SELECT department, AVG(salary) FROM employees GROUP BY department HAVING AVG(salary) > 60000;
        ```

2.  **Data Manipulation Language (DML):**
    *   `INSERT INTO`: Used to add new rows of data to a table.
        ```sql
        INSERT INTO employees (first_name, last_name, email) VALUES ('John', 'Doe', 'john.doe@example.com');
        ```
    *   `UPDATE`: Used to modify existing data in a table.
        ```sql
        UPDATE products SET price = 100.00 WHERE product_id = 1;
        ```
    *   `DELETE FROM`: Used to remove rows from a table.
        ```sql
        DELETE FROM orders WHERE order_id = 101;
        ```

3.  **Data Definition Language (DDL):**
    *   `CREATE TABLE`: Used to create a new table in the database.
        ```sql
        CREATE TABLE customers (
            customer_id INT PRIMARY KEY,
            customer_name VARCHAR(255),
            email VARCHAR(255)
        );
        ```
    *   `ALTER TABLE`: Used to modify the structure of an existing table.
        ```sql
        ALTER TABLE customers ADD COLUMN phone_number VARCHAR(20);
        ```
    *   `DROP TABLE`: Used to delete an existing table.
        ```sql
        DROP TABLE customers;
        ```

## SQL Operators

Operators are used to specify conditions in SQL statements and to combine multiple conditions. They are often used in `WHERE` clauses.

1.  **Arithmetic Operators:** Perform mathematical calculations.
    *   `+` (Addition), `-` (Subtraction), `*` (Multiplication), `/` (Division), `%` (Modulo)
        ```sql
        SELECT product_name, price * quantity AS total_cost FROM order_items;
        ```

2.  **Comparison Operators:** Used to compare two values.
    *   `=` (Equal to)
    *   `!=` or `<>` (Not equal to)
    *   `>` (Greater than)
    *   `<` (Less than)
    *   `>=` (Greater than or equal to)
    *   `<=` (Less than or equal to)
        ```sql
        SELECT * FROM employees WHERE salary >= 50000;
        ```

3.  **Logical Operators:** Used to combine multiple conditions.
    *   `AND`: Returns true if all conditions are true.
        ```sql
        SELECT * FROM products WHERE category = 'Electronics' AND price < 200;
        ```
    *   `OR`: Returns true if any of the conditions are true.
        ```sql
        SELECT * FROM customers WHERE city = 'New York' OR city = 'Los Angeles';
        ```
    *   `NOT`: Negates a condition.
        ```sql
        SELECT * FROM orders WHERE NOT status = 'Completed';
        ```

4.  **Pattern Matching Operator:**
    *   `LIKE`: Used to search for a specified pattern in a column.
        *   `%` (wildcard): Represents zero, one, or multiple characters.
        *   `_` (wildcard): Represents a single character.
        ```sql
        SELECT * FROM customers WHERE customer_name LIKE 'A%'; -- Starts with 'A'
        SELECT * FROM products WHERE product_name LIKE '%phone%'; -- Contains 'phone'
        SELECT * FROM employees WHERE first_name LIKE 'J_hn'; -- 'John', 'Joan'
        ```

5.  **Range Operators:**
    *   `BETWEEN`: Checks if a value is within a given range (inclusive).
        ```sql
        SELECT * FROM orders WHERE order_date BETWEEN '2023-01-01' AND '2023-01-31';
        ```

6.  **List Operators:**
    *   `IN`: Checks if a value matches any value in a list.
        ```sql
        SELECT * FROM employees WHERE department_id IN (101, 103, 105);
        ```

7.  **Null Operators:**
    *   `IS NULL`: Checks for NULL values.
    *   `IS NOT NULL`: Checks for non-NULL values.
        ```sql
        SELECT * FROM customers WHERE email IS NULL;
        ```